<div class="mt-5 view">
    
    <h1>All Your Todos</h1>
    <ul class="list-group">
        <li *ngFor="let todo of data; let i = index" class="list-group-item"> 
            <p>Name: {{todo.name}}</p>
            <hr>
            <p>Activity: {{todo.activity}}</p>
            <p>Date: {{todo.date}}</p>
            <p>Done: {{todo.done}}</p>
             <button class="btn btn-info mr-1" (click)="done(i)">done</button>
             <button class="btn btn-danger" (click)="dellete(i)">dellete</button>
        </li>
      </ul>
</div>